<p id="notice"><%= notice %></p>

<h1>Welcome Users!</h1>

<ul>
    <%  @user.each do |user| %>
        <li>Hi there, <%= user.username %>. </li>
        <li> <%= link_to "Your Posts", user_posts_path(user) %>
          <%= "," %>
          <%= link_to "Delete Me", user_path(user), method: :delete %>
        </li>
    <%  end  %>
</ul>

<%= link_to 'New User', user_new_path(@user) %>
